# =====================
# Node / Express
# =====================
backend/node_modules/
backend/.env
backend/npm-debug.log*
backend/yarn-error.log*

# =====================
# Android / Kotlin
# =====================
android-app/.gradle/
android-app/.idea/
android-app/build/
android-app/*.iml
android-app/local.properties

# =====================
# Python / Inteligencia Artificial
# =====================
# Entornos virtuales
venv/
env/
ENV/
.venv/
.env/

# Librerías y caché de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Datos y Modelos (Archivos pesados)
*.pkl
*.joblib
seed.sql
seed_movimientos_generados.sql
*.csv

# =====================
# General
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
*.log

# =====================
# Editor
# =====================
.vscode/
.idea/

# =====================
# Sistema
# =====================
*.tmp