# =====================
# Node / Express
# =====================
backend/node_modules/
backend/.env
backend/npm-debug.log*
backend/yarn-error.log*

# =====================
# Android / Kotlin
# =====================
android-app/.gradle/
android-app/.idea/
android-app/build/
android-app/*.iml
android-app/local.properties

# =====================
# General
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
*.log

# =====================
# Editor
# =====================
.vscode/
.idea/

# =====================
# Sistema
# =====================
*.tmp
